<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="../../public/styles.css">
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"
    />
    <title>Hello from Electron renderer!</title>
  </head>
  <body>
    <header class="bg-blue-500">
      <button class="text-red-300">Button A</button>
      <div>
        <img src="img/" alt="">
        <h1 class="bg-red-300">teste</h1>
      </div>
    </header>
    <footer>

    </footer>
    <h1 class="underline">Hello world</h1>
    <p id="games">games</p>
  </body>
</html>