@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*
 * default theme
*/

:root {
    /** colors */
    --danger_color: #e54b4b;
    --hover_danger_color: #e54b4b99;

    --warning_color: #ffa987;
    --hover_warning_color: #ffa98799;

    --text_color1: #ffffff;
    --hover_text_color1: #ffffff99;
    --text_color2: #000000;
    --hover_text_color2: #00000099;

    --background_color1: #444140;
    --hover_background_color1: #44414099;
    --transparent_background_color1: #4441405d;

    --background_color2: #575453;
    --hover_background_color2: #57545399;

    --background_color3: #f7ebe8;
    --hover_background_color3: #f7ebe899;

    --background_color4: #d9d9d9;
    --hover_background_color4: #d9d9d999;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.custom-scrollbar {
    scrollbar-width: thin;
}

.custom-scrollbar_warning_color::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar_warning_color::-webkit-scrollbar-track {
    background: var(--background_color3);
}

.custom-scrollbar_warning_color::-webkit-scrollbar-thumb {
    background-color: var(--warning_color);
    border-radius: 4px;
}

.custom-scrollbar_warning_color::-webkit-scrollbar-button {
    display: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.custom-scrollbar_bg2_color::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar_bg2_color::-webkit-scrollbar-track {
    background: var(--background_color3);
}

.custom-scrollbar_bg2_color::-webkit-scrollbar-thumb {
    background-color: var(--background_color2);
    /* border-radius: 4px; */
}

.custom-scrollbar_bg2_color::-webkit-scrollbar-button {
    display: none;
}